name: Checks and Validation
on:
  pull_request_target:

jobs:
  linters:
    name: Run linters
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable

      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libudev-dev libpcsclite-dev
          version: 1.1

      - name: Cache cargo and rust files
        id: rust_cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          shared-key: "linter_cache"
      - uses: bahmutov/npm-install@v1
        with:
          useLockFile: false

      - name: Run linters
        uses: profiidev/rust-lint-action@v3
        with:
          rustfmt: true
          clippy: true
          auto_fix: true
          prettier: true
          prettier_extensions: "css,html,js,json,jsx,md,sass,scss,ts,tsx,vue,yaml,yml,svelte"
